/* General styles */
body {
	font-size: 15px;
	line-height: 24px;
	font-family: 'futura_ltbook', sans-serif;
	color: #484848;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	/*text-transform: uppercase;*/
	color: #484848;
	font-family: 'futura_ltbold', sans-serif;
}

h1 {
	font-size: 70px;
	margin: 0;
	line-height: 72px;
}

h2 {
	font-size: 30px;
	margin: 0 0 20px;
}

h3 {
	font-size: 20px;
	margin: 0 0 10px;
}

#box_about_baner {
	width: auto;
	height: 450px;
	display: block;
}

#box_about_baner #img_about_baner {
	width: auto;
	height: 100%;
	-webkit-box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.51);
	box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.51);
}
}

#img_about {
	width: 120%;
	display: block;
	margin-top: 10px;
	-webkit-box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.51);
	-moz-box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.51);
	box-shadow: 2px 0px 5px -1px rgba(0, 0, 0, 0.51);
}

#logo {
	width: 60%;
	display: block;
}

#logo_footer {
	width: 25%;
	display: block;
	margin-bottom: 20px;
}

img {
	width: 100%;
}

a, button {
	outline: 0 !important;
}

a:hover, a:focus {
	text-decoration: none
}

/* All Transition */
.list-inline.info a, .list-inline.social_icon a, nav.navbar.bootsnav ul.nav>li>a, .attr-nav>ul>li>a, .btn.know_btn, #filters>button, .portfolio_hover_area, .portfolio_hover_area .fa, .testimonial_content, .testimonial_content p:first-child::before, #contact_form .form-control, #contact_form .btn.submit_btn, footer a, .footer_social_icon .fa, .post .date, #scrollUp {
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}

/* Header */
/*Preloader css*/
#loading {
	/*background-color: #ffcb0f;*/
	background-color: #FFFFFF;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 1;
	margin-top: 0px;
	top: 0px;
	z-index: 90;
}

#loading-center {
	width: 100%;
	height: 100%;
	position: relative;
}

#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 50px;
	width: 150px;
	margin-top: -25px;
	margin-left: -75px;
}

.object {
	width: 8px;
	height: 50px;
	margin-right: 5px;
	/*background-color: #FFF;*/
	background-color: #3CAADA;
	-webkit-animation: animate 1s infinite;
	animation: animate 1s infinite;
	float: left;
}

.object:last-child {
	margin-right: 0px;
}

.object:nth-child(10) {
	-webkit-animation-delay: 0.9s;
	animation-delay: 0.9s;
}

.object:nth-child(9) {
	-webkit-animation-delay: 0.8s;
	animation-delay: 0.8s;
}

.object:nth-child(8) {
	-webkit-animation-delay: 0.7s;
	animation-delay: 0.7s;
}

.object:nth-child(7) {
	-webkit-animation-delay: 0.6s;
	animation-delay: 0.6s;
}

.object:nth-child(6) {
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}

.object:nth-child(5) {
	-webkit-animation-delay: 0.4s;
	animation-delay: 0.4s;
}

.object:nth-child(4) {
	-webkit-animation-delay: 0.3s;
	animation-delay: 0.3s;
}

.object:nth-child(3) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

.object:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

@-webkit-keyframes animate {
	50% {
		-ms-transform: translateX(-25px) scaleY(0.5);
		-webkit-transform: translateX(-25px) scaleY(0.5);
		transform: translateX(-25px) scaleY(0.5);
	}
}

@keyframes animate {
	50% {
		-ms-transform: translateX(-25px) scaleY(0.5);
		-webkit-transform: translateX(-25px) scaleY(0.5);
		transform: translateX(-25px) scaleY(0.5);
	}
}

.sinpadding [class*="col-"] {
	padding: 0;
}

/*End off Preloader*/
/* Top Nav */
.top_nav {
	/*background: #ffcb0f none repeat scroll 0 0;*/
	background: #3CAADA none repeat scroll 0 0;
	overflow: hidden;
	padding: 10px 0;
}

.list-inline.info {
	float: left;
	margin: 0;
}

.list-inline.info>li {
	padding: 0 20px 0 0;
}

.list-inline.info a, .list-inline.social_icon a {
	color: #FFFFFF;
	font-family: 'futura_ltbook', sans-serif;
}

.list-inline.info a:hover, .list-inline.social_icon a:hover {
	color: #555;
}

.list-inline.info a .fa, .list-inline.social_icon a .fa {
	font-size: 20px;
	vertical-align: text-top;
}

.list-inline.social_icon {
	float: right;
	margin: 0;
}

/* Main Nav */
nav.navbar.bootsnav {
	/*background: #222533 none repeat scroll 0 0;*/
	background: #FFFFFF none repeat scroll 0 0;
	border: 0 none;
}

nav.navbar.bootsnav ul.nav>li>a {
	/*color: #fff;*/
	color: #222;
	font-size: 20px;
}

nav.navbar.bootsnav ul.nav>li>a:hover, nav.navbar.bootsnav ul.nav>li>a:focus {
	color: #aaa;
}

.navbar-brand {
	width: 130px;
	height: auto;
}

#navbar-menu {
	margin: 6px 0;
}

.nav.navbar-nav.menu {
	float: right;
}

.attr-nav {
	margin: 5px -10px 0 0;
}

.attr-nav>ul>li>a {
	/*color: #ffcb0f;*/
	color: #3CAADA;
	font-size: 20px;
}

.attr-nav>ul>li>a:hover, .attr-nav>ul>li>a:focus {
	/*color: #d7a300;*/
	color: #222;
}
#carousel{
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.64);
-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.64);
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.64);
}

/* Carousel */
.banner_head{
	padding-top:50px;
	padding-bottom: 50px;
}
/*.home .myCarousel {
	position: relative;
	height: 350px;
	display: inline-block;
	width: auto;
}

.home .carousel .item img {
	width: 100%;
	height: 350px;
}*/
/* .carousel-inner > .item > a > img,
.carousel-inner > .item > img {
    height: auto;
}*/
/*#img_banner_1 {
	background: url(../images/astaug/banner_astaug/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

#img_banner_2 {
	background: url(../images/astaug/banner_astaug/4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

#img_banner_3 {
	background: url(../images/astaug/banner_astaug/Banner_astaug.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
}

#img_banner_4 {
	background: url(../images/astaug/banner_astaug/Consultorio_Dental.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

#img_banner_5 {
	background: url(../images/astaug/banner_astaug/Entrega_de_Uniformes.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}*/

.carousel .overlay {
	background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0;
}

.carousel-caption {
	left: 7%;
	right: 7%;
	top: 70px;
}

.carousel-caption h1 {
	color: #fff;
	margin-bottom: 20px;
}

.carousel-caption h1.second_heading {
	color: #3caada;
	margin-bottom: 35px;
}

.carousel-caption>h3 {
	color: #fff;
	font-family: "futura_ltbook", sans-serif;
	font-size: 40px;
	font-weight: normal;
	margin-bottom: 30px;
	text-transform: inherit;
}

.carousel-caption>p {
	font-size: 23px;
	line-height: 28px;
}

.btn.know_btn {
	background: #3CAADA none repeat scroll 0 0;
	border-radius: 30px;
	color: #fff;
	font-family: "futura_ltbold", sans-serif;
	font-size: 16px;
	padding: 10px 20px;
	text-transform: uppercase;
	border: 1px solid transparent;
}

.carousel-caption .btn.know_btn {
	margin-top: 64px;
}

.carousel-caption .btn.know_btn:last-child {
	margin-left: 20px;
}

.btn.know_btn:hover,
.btn.know_btn:focus {
	background: transparent;
	color: #FFFFFF;
	border: 1px solid rgb(2, 119, 160);
}

.carousel-control {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: -25px;
	top: 50%;
}

/*links_events */
.container_links_events {
	padding: 120px 0 80px 0;
}

.box_link {
	display: block;
	width: 200px;
	height: 65px;
	margin: auto;
	margin-bottom: 12px;
	background: #5DADE2;
	cursor: pointer;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 0px solid #000000;
	-webkit-box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.39);
	-moz-box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.39);
	box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.39);
}

.box_link:hover {
	background: #85C1E9;
	-webkit-box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.46);
	-moz-box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.46);
	box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.46);
	transition: all 0.4s ease;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
}

#box_link {
	padding-top: 18px
}

.events {
	display: block;
	width: auto;
	margin: auto;
	height: 400px;
	-webkit-box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.46);
	-moz-box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.46);
	box-shadow: 1px 3px 5px -1px rgba(0, 0, 0, 0.46);
}

.section_banner_forsale {
	padding: 30px 0 30px 0px;
}

.box_banner_forsale {
	width: auto;
	padding: 10px;
	background: #E0E0E0;
/*	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);*/
}


/*last_news */
.container_last_news {}

.section-heading {
	padding: 80px 0 80px 0;
	text-align: center;
}

.container_last_news .box_last_news {
	display: block;
	height: 420px;
	margin: auto;
	margin-bottom: 30px;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 0px solid #000000;
	-webkit-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.09);
	-moz-box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.09);
	box-shadow: 0px 1px 2px 2px rgba(0, 0, 0, 0.09);
}

.img_last_news {
	height: 220px;
	border-radius: 9px 9px 0 0;
	-moz-border-radius: 9px 9px 0 0;
	-webkit-border-radius: 9px 9px 0 0;
	border: 0px solid #000000;
}

.box_content_last_new {
	width: auto;
	height: 165px;
	padding: 20px 20px 20px 20px;
}

.box_content_last_new p {
	padding-top: 10px;
}

.box_head_new {
	margin: 0;
	padding: 0;
	width: auto;
}

.box_button_footer_last_news {
	height: 35px;
	background: #F1EFEF;
	border-radius: 0px 0px 9px 9px;
	-moz-border-radius: 0px 0px 9px 9px;
	-webkit-border-radius: 0px 0px 9px 9px;
	border: 0px solid #000000;
}

.button_ver_last_news {
	width: 60px;
	height: 36px;
	background: #A3CB38;
	float: right;
	border-radius: 0px 0px 9px 0px;
	-moz-border-radius: 0px 0px 9px 0px;
	-webkit-border-radius: 0px 0px 9px 0px;
	border: 0px solid #000000;
}

.button_ver_last_news a {
	display: block;
	height: 36px;
	line-height: 36px;
	text-align: center;
	color: #FFFFFF;
	border-radius: 0px 0px 9px 0px;
	-moz-border-radius: 0px 0px 9px 0px;
	-webkit-border-radius: 0px 0px 9px 0px;
	border: 0px solid #000000;
}

.box_button_ver_todo {
	padding: 35px 10px 35px 0;
	text-align: right;
}

#last_news_page {
	padding-top: 80px;
	padding-bottom: 100px;
	background: #fafafa;
}

.box_new {
	width: auto;
	height: 130px;
	position: relative;
	margin: auto;
	margin-bottom: 30px;
	cursor: pointer;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
	border: 1px solid #EEEEEE;
}

.box_new:hover {
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}

.box_new img {
	width: 100%;
	height: 130px;
}

.box_new .imagen {
	width: 25%;
	height: 130px;
	position: absolute;
	float: left;
}

.box_new .contenido {
	width: 75%;
	height: 130px;
	position: absolute;
	float: left;
	margin-left: 25%;
}

.box_new .contenido h5 {
	margin-top: 10px;
	margin-left: 10px
}

.sinpadding h2 {
	display: block;
	text-align: center;
	padding-bottom: 80px;
}

.box_new P {
	color: #57606f;
	padding-left: 10px;
}

.box_new #hora_noticia {
	color: #dfe4ea;
	display: inline-block;
}

.box_new .btn {
	display: inline-block;
	float: right;
	background: #3CAADA;
	color: #FFF;
	font-size: .9em;
	padding: 5px;
	margin-top: -7px;
	margin-bottom: 0;
	margin-right: 10px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
}

.box_new .btn:hover {
	background: transparent;
	color: #3CAADA;
}
.box_img_bienvenida{
	width: 330px;
	height: auto;
	background: red;
	display: block;
	margin: auto;
	margin-bottom: 50px;
}
.box_img_bienvenida img{
	width: 330px;

}
.menu_lateral_links {
	display: block;
	margin: auto;
	margin-top: 30px;
	width:320px;
	height: auto;
	margin-bottom: 10px;
	background: rgb(53, 61, 71);
	padding: 20px;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 1px solid #FFFFFF;
}

.menu_lateral_facebook {
	display: block;
	margin: auto;
	margin-top: 30px;
	width: 320px;
	height: auto;
	background: rgb(53, 61, 71);
	padding: 10px;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;
	border: 1px solid #FFFFFF;
}




.menu_lateral_facebook h3 {
	display: block;
	text-align: center;
	padding: 13px 0 13px 0;
	color: #FFFFFF;
	border-bottom: 1px solid #ffffff;
}

.menu_lateral_links h3 {
	display: block;
	text-align: center;
	padding: 13px 0 13px 0;
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
}

.menu_lateral_links ul {
	display: block;
	width: auto;
	height: 250px;
	padding: 0;
	margin: 0;
}

.menu_lateral_links ul li {
	margin: 0;
	padding: 0;
	display: block;
	font-size: 1.1em;
}

.menu_lateral_links ul li a {
	display: block;
	width: auto;
	padding: 10px;
	color: #ffffff;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.menu_lateral_links ul li a:hover {
	background: #3CAADA;
	color: #fff;
}

/* About */
#about {
	padding-top: 90px;
	padding-bottom: 60px;
}

.about_content {
	margin-right: 25px;
	margin: auto;
}

.about_content>h2 {
	font-size: 40px;
	margin: 90px 0 15px;
	/*color:#ffcb0f;*/
	color: #3CAADA;
}

.about_content>h3 {
	font-size: 30px;
	margin: 2px 0 30px;
	text-transform: inherit;
}

.about_content>p {
	line-height: 18px;
	margin-bottom: 18px;
	font-size: 16px;
	text-align: justify;
}

.about_content .btn.know_btn {
	margin: 18px 0 60px;
}

/*.about_bg {
    background: url(../images/about_bg.png)no-repeat right;
}*/
/*Head Title*/
.head_title p {
	line-height: 2.3rem;
}
#about{
background: #F4F6F7;
}

/* Why us */
#why_us {
	/*background: #F4F6F7 none repeat scroll 0 0;*/
	/*background: #F4F6F7 none repeat scroll 0 0;*/
	padding-top: 50px;
	padding-bottom: 50px;
	line-height: 18px;
}

#why_us h2 {
	margin: 70px 0 20px;
}

.why_us_item {
	padding-top: 55px;
}

#why_us .fa {
	border-radius: 100%;
	box-shadow: 0 0 0 10px #3498DB, 0 0 0 20px #85C1E9, 0 0 0 30px #AED6F1;
	padding: 38px;
	font-size: 45px;
}

.why_us_item>h4 {
	font-size: 15px;
	margin: 60px 0 20px;
}

/* Services */
#services h2 {
	margin: 85px 0 50px;
	text-align: center;
}

.service_item>h3 {
	margin: 25px 0 15px;
}

.service_item .btn.know_btn {
	margin: 20px 0 100px;
}

#banner_forsale {
	padding: 50px 0 50px 0;
}

/* Portfolio */
#portfolio {
	background: rgba(0, 0, 0, 0) url("../images/astaug/cr_astaug.jpg") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
	padding-bottom: 102px;
	border-bottom: 2px solid #2E3C49;
}

#portfolio::before {
	position: absolute;
	content: "";
	height: 100%;
	width: 100%;
	background: rgba(46, 60, 73, 0.85);
	top: 0;
	left: 0;
}

.portfolio_area {
	position: relative;
	color: #fff;
}

.portfolio_area h2 {
	color: #fff;
	margin: 65px 0 34px;
}

/* Portfolio filters */
#filters {
	margin: 52px 0 38px;
}

#filters>button {
	background: transparent none repeat scroll 0 0;
	border: 1px solid transparent;
	border-radius: 18px;
	outline: 0 none;
	padding: 6px 17px 4px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

#filters>button:hover {
	border: 1px solid #009AD5;
	color: #FFFFFF;
}

#filters>button.is-checked {
	background: #009AD5;
}

#filters>button.is-checked:hover {
	color: #fff;
}

.grid {
	margin: 10 -6px;
	margin-bottom: 50px;
}

.grid-item {
	border: 6px solid transparent;
}

.grid-item, .grid-sizer {
	width: 25%;
}

.grid-item {
	float: left;
	height: 255px !important;
}

.grid-item {
	overflow: hidden;
}

.grid-item--width2 {
	width: 50%;
}

.grid-item--height2 {
	height: 510px !important;
}

.grid-item:hover img {
	transform: scale(1.1);
}

.grid-item img {
	height: 100%;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

/* Portfolio Hover */
.portfolio_hover_area {
	background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
	height: 100%;
	width: 100%;
	top: 0;
	position: absolute;
	text-align: center;
	opacity: 0;
}

.grid-item:hover .portfolio_hover_area {
	opacity: 1;
}

.portfolio_hover_area .fa {
	background: #009AD5 none repeat scroll 0 0;
	border: 2px solid transparent;
	border-radius: 5px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	color: #fff;
	font-size: 30px;
	margin-top: 215px;
	padding: 15px;
	border: 1px solid transparent;
}

.grid-item .portfolio_hover_area .fa {
	margin-top: 90px;
}

.grid-item--width2 .portfolio_hover_area .fa {
	margin-top: 217px;
}

.portfolio_hover_area>a:first-child {
	margin-right: 10px;
}

.portfolio_hover_area .fa:hover {
	border: 1px solid #FFFFFF;
	background: transparent;
	color: #FFFFFF;
}

.row_border {
	padding-top: 10px;
	border-bottom: 1px solid #dfe4ea;
}

/* Testimonial */
#testimonial {
	background: url("../images/testimonial_bg.jpg") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
}

#testimonial2 {
	background: url("../images/astaug/18293.jpg") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
}
.parallax_galeria{
	background-image: url("../images/astaug/parallax/img_astaug_4.jpg");
	/* background-image: url("https://picsum.photos/1600/500?random=1");*/
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_galeria::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}
.parallax_tramites {
	background-image: url("../images/astaug/parallax/img_astaug_3.jpg");
	/* background-image: url("https://picsum.photos/1600/500?random=1");*/
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_tramites::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax_bienvenida {
	background-image: url("../images/astaug/Mensaje_Bienvenida.jpeg");
	/* background-image: url("https://picsum.photos/1600/500?random=1");*/
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_bienvenida::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax_noticias {
	background-image: url("../images/astaug/parallax/img_astaug_1.jpg");
	/* background-image: url("https://picsum.photos/1600/500?random=1");*/
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_noticias::after {
	content: "";
	width: 100%;
	height: 450px;
  line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax{
	background-image: url("../images/astaug/galeria/fotos/dia_nino.jpg");
	min-height: 350px;
	background-attachment: fixed;

	background-repeat: no-repeat;
	background-size:contain;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax::after {
	content: "";
	width: 100%;
	height: 350px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax_noticia1 {
	background-image: url("../images/astaug/galeria/fotos/Feliz_Dia_Mama.jpg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_noticia1::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax_noticia2 {
	background-image: url("../images/astaug/galeria/fotos/uniforme_1.jpg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_noticia2::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax_noticia3 {
	background-image: url("../images/astaug/galeria/fotos/dental_2.jpg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_noticia3::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax_noticia4 {
	background-image: url("../images/astaug/galeria/fotos/complejo_deportivo_2.jpg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_noticia4::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

.parallax_noticia5 {
	background-image: url("../images/astaug/galeria/fotos/cumple_3.jpeg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_noticia5::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 300px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}
.parallax_noticia6 {
	background-image: url("../images/astaug/galeria/fotos/IMG_0037.jpg");
	min-height: 450px;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}

.parallax_noticia6::after {
	content: "";
	width: 100%;
	height: 450px;
	line-height: 450px;
	text-align: center;
	color: #FFF;
	font-size: 3em;
	display: block;
	/* background:rgba(0, 0, 0, 0.35);*/
}

#testimonial::before {
	background: #fff;
	opacity: 0.7;
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.testimonial_area {
	position: relative;
}

#testimonial h2 {
	margin-top: 63px;
}

.testimonial_item {
	padding: 0 15px;
}

.testimonial_content {
	background: #e5e5e5 none repeat scroll 0 0;
	border-radius: 18px;
	margin: 55px 0 30px;
	padding: 40px 15px 40px 70px;
	text-align: left;
	position: relative;
	color: #393939;
}

.testimonial_content::after {
	background: inherit;
	bottom: -10px;
	content: "";
	height: 20px;
	left: 47%;
	position: absolute;
	transform: rotate(45deg);
	width: 20px;
}

.testimonial_content p {
	position: relative;
}

.testimonial_content p:first-child::before {
	color: #989898;
	content: ",,";
	font-family: "GillSansMT-UltraBold";
	font-size: 60px;
	left: -54px;
	position: absolute;
	top: -24px;
	transform: rotateY(180deg);
}

#testimonial .col-sm-4:nth-child(3n+2) .testimonial_content {
	margin: 40px 0;
	padding-bottom: 70px;
}

.testimonial_item:hover .testimonial_content {
	background: #3caada none repeat scroll 0 0;
}

.testimonial_item:hover .testimonial_content::after {
	width: 22px;
	height: 22px;
	bottom: -11px;
}

.testimonial_item:hover .testimonial_content {
	color: #fff;
}

.testimonial_item:hover .testimonial_content p:first-child::before {
	color: inherit;
}

.testimonial_item>img {
	border-radius: 100%;
	height: 80px;
	width: 80px;
}

.worker_name {
	font-family: "futura_ltbold", sans-serif;
	margin: 10px 0 45px;
	text-transform: uppercase;
}

/* Contact form */
#contact_form {
	/*background: #fedb5d none repeat scroll 0 0;*/
	background: rgba(2, 119, 160, 1) none repeat scroll 0 0;
	padding: 27px 0 32px;
}

#contact_form h2 {
	margin: 20px 0 0;
	/*color:#73757e;*/
	color: #FFFFFF;
}

#contact_form h5 {
	margin: 20px 0 0;
	/*color:#73757e;*/
	color: #FFFFFF;
}

#contact_form .second_heading {
	font-size: 35px;
	font-family: "futura_ltbook", sans-serif;
	margin: 10px 0;
}

#contact_form form.form-inline {
	padding-right: 27px;
}

#contact_form .form-inline .form-control {
	border: 2px solid transparent;
	border-radius: 10px;
	font-size: 15px;
	height: 45px;
	margin: 8px;
	padding: 10px 20px;
	width: 250px;
	box-shadow: none;
}

#contact_form .form-inline textarea.form-control {
	width: 388px;
	resize: none;
}

#contact_form .form-control:focus {
	border: 2px solid #ffcb0f;
	box-shadow: 0px 0px 5px 1px #ffcb0f;
}

#contact_form .btn.submit_btn {
	/* background: #73757e none repeat scroll 0 0;*/
	/* background: #FFFFFF none repeat scroll 0 0;*/
	border: 2px solid #FFFFFF;
	background: transparent;
	/* color: rgb(2, 119, 160);*/
	color: #FFFFFF;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	height: 45px;
	width: 120px;
	border-radius: 10px;
	margin: 6px 8px 6px 0;
}

.form-control::-moz-placeholder {
	color: #adadad;
}

.form-control:-ms-input-placeholder {
	color: #adadad;
}

.form-control::-webkit-input-placeholder {
	color: #adadad;
}

#contact_form .btn.submit_btn:hover {
	background: #fff none repeat scroll 0 0;
	color: rgb(2, 119, 160);
}

/* PDF */
.section_pdf {
	width: auto;
	height: auto;
	display: block;
	padding: 30px 0 80px 0;
}

/* PDF */
.section_pdf {
	width: auto;
	height: auto;
	display: block;
	padding: 30px 0 80px 0;
}

.section_pdf h3 {
	padding: 20px 0 40px 0;
	text-align: center;
}

.archivo_pdf {
	width: 100%;
	height: 1200px;
	background: url(../images/astaug/ajax-loader.gif) no-repeat center center;
}

.box_file {
	width: auto;
	height: auto;
	margin-bottom: 20px;
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border: 1px solid #EEEEEE;
}

.style_ul_nav {
	overflow: hidden;
}

.section_pdf h4 {
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 1px solid #EEEEEE;
	padding: 10px 10px 10px 20px;
	border-radius: 8px 0 0 8px;
	-moz-border-radius: 8px 0 0 8px;
	-webkit-border-radius: 8px 8px 0 0;
}

.img_pdf {
	width: 32px;
	float: left;
	margin-right: 8px;
	overflow: hidden;
}

.footer_contacto {
	padding-top: 50px;
	padding-bottom: 50px;
}

/* Footer */
footer {
	/*background: url(../images/footer_bg.jpg)no-repeat;*/
	background: url(../images/astaug/universidad-de-guanajuato.jpg)no-repeat;
	background-size: cover;
	position: relative;
	padding-top: 45px;
}

footer::before {
	background: rgba(68, 78, 88, 0.9) none repeat scroll 0 0;
	/*background: rgb(35, 35, 35) none repeat scroll 0 0;*/
	content: "";
	height: 45px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
}

footer::after {
	background: rgba(68, 78, 88, 0.9) none repeat scroll 0 0;
	/*background: rgba(2, 119, 160, 0.9) none repeat scroll 0 0;*/
	content: "";
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.footer_top, .footer_bottom {
	position: relative;
	z-index: 1;
	color: #fff;
}

.footer_item {
	margin-top: 75px;
}

.footer_item>h4 {
	color: #fff;
	font-family: "futura_ltbook", sans-serif;
	font-size: 25px;
	margin-bottom: 34px;
	text-transform: inherit;
}

.footer_item>p {
	text-align: justify;
}

.footer_item .list-unstyled>li a {
	color: #fff;
}

/* Footer About */
.footer_item .logo {
	margin-bottom: 15px;
	width: 100px;
}

.list-inline.footer_social_icon {
	margin: 32px 0 0;
}

.footer_social_icon .fa {
	/*background: #ffcb0f none repeat scroll 0 0;*/
	background: #FFFFFF none repeat scroll 0 0;
	border-radius: 100%;
	color: #222;
	font-size: 20px;
	height: 45px;
	padding: 12px;
	text-align: center;
	width: 45px;
}

.footer_item .footer_social_icon .fa:hover, .footer_item .footer_social_icon .fa:focus {
	/*background: #d7a300 none repeat scroll 0 0;*/
	background: #222 none repeat scroll 0 0;
	color: #FFFFFF;
}

/* Footer Explore */
.footer_menu .fa {
	font-size: 10px;
	margin-right: 18px;
}

.list-unstyled.footer_menu>li {
	padding: 4px 0;
}

/* Footer Post */
.list-unstyled.post, .list-unstyled.footer_contact {
	margin-top: -14px;
}

#color_date {
	border: 2px solid #3CAADA;
	;
	color: #3CAADA;
	;
}

#color_li a {
	color: #3CAADA;
	;
	font-size: 1.4em;
	display: block;
	line-height: 50px;
}

.noticia {
	padding-top: 80px;
	padding-bottom: 80px;
	background: #fafafa;
}

.post .date {
	border: 2px solid #fff;
	border-radius: 100%;
	display: block;
	float: left;
	font-size: 20px;
	height: 50px;
	line-height: 12px;
	margin-right: 15px;
	padding: 10px;
	text-align: center;
	width: 50px;
}

.footer_item li a:hover .date, .footer_item li a:focus .date {
	border: 2px solid #aaa;
}

.footer_item li a:hover, .footer_item li a:focus {
	color: #aaa;
}

.post .date small {
	font-size: 12px;
}

.list-unstyled.post>li, .list-unstyled.footer_contact>li {
	padding: 14px 0;
	overflow: hidden;
}

.post p {
	font-size: 1.3em;
	line-height: 30px;
	text-align: justify;
	letter-spacing: 1px;
	padding: 20px 0 20px 0;
}

/* Footer Contact */
.footer_contact .fa {
	margin-right: 25px;
	text-align: center;
	width: 15px;
	float: left;
	font-size: 18px;
}

.list-unstyled.footer_contact p {
	overflow: hidden;
}

.footer_bottom {
	background: #1a1c27 none repeat scroll 0 0;
	padding: 28px 0 18px;
	margin-top: 55px;
}

.footer_bottom a {
	color: #3DAADA;
	/* color: #222; */
}

.footer_bottom a:hover, .footer_bottom a:focus {
	color: #d7a300;
}

/* ScrollUP */
#scrollUp {
	background: url(../images/astaug/top.png)no-repeat scroll 0 0;
	bottom: 20px;
	color: #000;
	height: 40px;
	right: 20px;
	width: 40px;
	opacity: 0.7;
}

#scrollUp:hover {
	background: url(../images/astaug/top.png)no-repeat scroll 0 -40px;
}

.formulario_comentarios {
	padding-top: 60px;
	padding-bottom: 100px;
}

.formulario_comentarios h3 {
	display: block;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}

.formulario_comentarios p {
	display: block;
	text-align: center;
	padding-bottom: 50px;
	font-size: 1.3em;
}

.formulario_comentarios label {
	font-size: 1.04em;
}

.formulario_comentarios button {
	margin-top: 30px;
	float: right;
}

.noticias_interes {
	padding-top: 40px;
}
#box_media{
	background:#FFFFFF;
	padding: 10px;
	cursor: pointer;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	-webkit-box-shadow: 0 5px 6px -6px #777;
	-moz-box-shadow: 0 5px 6px -6px #777;
	box-shadow: 0 5px 6px -6px #777;
}
#box_media:hover {
	-webkit-box-shadow: 0 8px 6px -6px #777;
	-moz-box-shadow: 0 8px 6px -6px #777;
	box-shadow: 0 8px 6px -6px #777;
}
#box_media .btn{
	display: inline-block;
	float: right;
	background: #3CAADA;
	color: #FFF;
	font-size: .9em;
	padding: 5px;
	margin-top: -7px;
	margin-bottom: 0;
	margin-right: 10px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
}
#box_media .btn:hover {
 background: transparent;
 color: #3CAADA;
}

.estilointeres {
	padding-top: 50px;
	padding-bottom: 50px;
	border-bottom: 1px solid #dfe4ea;
}

.estilointeres h3 {
	display: block;
	text-align: center;
	padding-bottom: 50px;
}

.box_noticia_interes {
	width: 300px;
	height: 300px;
	display: block;
	margin: auto;
	margin-bottom: 60px;
}

.box_noticia_interes {
	cursor: pointer;
}

.box_noticia_interes img {
	width: 100%;
	height: 190px;
}

.interes_titulo {
	width: 100%;
	height: 80px;
}

.interes_titulo h4 {
	margin-top: 0;
	padding-top: 20px;
	padding-left: 13px;
}

.interes_fecha {
	width: 100%;
	height: 30px;
}

.interes_fecha a {
	color: #ced6e0;
	float: right;
}

.datos_ubicacion{
	display: block;
	width: auto;
	height: auto;
	overflow: hidden;
	margin-bottom: 10px;
}
.box_style_1 {
	background: rgb(53, 61, 71);
	padding: 20px;
	position: relative;
	color: #ffffff;
	border: 1px solid #FFFFFF;
	overflow: hidden;
	margin-bottom:20px;
	border-radius: 9px 9px 9px 9px;
	-moz-border-radius: 9px 9px 9px 9px;
	-webkit-border-radius: 9px 9px 9px 9px;

}
.box_style_1 h4{
	color: #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	padding-bottom: 10px;
}
.box_style_1 span{
float: left;
color:#3CAADA;
font-size: 1.5em;
line-height: 1.3;
padding-right: 10px;
}
.box_style_1 p{
	float: left;
	width: auto;
	font-size: 1.08em;
}
.box_style_1 a{
	float: left;
	width: auto;
	font-size: 1.2em;
	color: #FFFFFF;
}
.box_style_1 li{
	list-style: none;
	float:left;
}
.box_style_3 {
	padding: 20px;
	position: relative;
	background: #fff;
	margin-bottom: 30px;
	color: #888;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
	text-align: center;
}

.box_style_3 h3 {
	font-size: 20px;
}

.box_style_3 i {
	margin: auto;
	margin-bottom: 20px;
	display: block;
	width: 80px;
	height: 80px;
	line-height: 80px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px dashed #ccc;
	font-size: 42px;
	color: #6dcff6;
}

.box_style_4, .box_style_2 {
	background: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 25px;
	padding: 20px;
	position: relative;
	text-align: center;
	border: 1px solid #ddd;
}

.box_style_4:after, .box_style_4:before {
	content: "";
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: 100%;
	left: 50%;
	margin-left: -10px;
}

.box_style_4:before {
	border-bottom: 10px solid #ccc;
	margin-bottom: 0;
}

.box_style_4:after {
	border-bottom: 10px solid #fff;
	margin-bottom: -1px;
	z-index: 1;
}

.box_style_2 i, .box_style_4 i {
	font-size: 52px;
	margin-top: 10px;
	display: inline-block;
}

.box_style_2 a.phone, .box_style_4 a.phone {
	font-size: 26px;
	display: block;
	margin-bottom: 20px;
}

.tape {
	position: absolute;
	left: 0;
	top: -20px;
	height: 45px;
	width: 100%;
	background: url(../img/tape.png) no-repeat center top;
	display: block;
}

/* Secciones */
#box_banner_indexdos{
	padding-top: 30px;
	padding-bottom: 50px;
}
.box_banner_dos{
	width: auto;
	height: auto;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
}

#box_btn_header{
padding-top: 50px;

}

.box_proximoseventos{
	width: 300px;
	height: auto;
	background: #3CAADA;
	display:inline-block;
	margin: auto;
	text-align: left;
	padding: 3px;
	border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

}
.box_proximoseventos span{
	display: inline-block;
	font-size: 1.5em;
	padding: 12px;
	float: left;
}
.box_proximoseventos a{
	width: 100%;
	float: left;
	color: #fff;
	font-size: 1.11em;
	display: inline-block;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}
.box_proximoseventos a:hover{
	background: #fff;
	color: #3CAADA;
	border: 0px solid #3CAADA;
}

.box_noticias{
	width: 300px;
	height: auto;
	background: #3CAADA;
	display: inline-block;
	margin: auto;
	padding: 3px;
	text-align: left;
	border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

}

.box_noticias a{
	width: 100%;
	float: left;
	color: #fff;;
	font-size: 1.11em;
	display: inline-block;
	cursor: pointer;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
	-o-transition: all 0.6s;
	-ms-transition: all 0.6s;
	transition: all 0.6s;
}
.box_noticias a:hover{
	background: #fff;
	color: #3CAADA;
	border: 0px solid #3CAADA;
}
.box_noticias span {
	display: inline-block;
	font-size: 1.5em;
	padding: 12px;
	float: left;
}
#galeria_astaug{
	padding-top: 100px;
	padding-bottom: 100px;
}
#galeria_astaug h2{
	margin-bottom: 50px;
}
#galeria_astaug p{
	display: block;
	margin-bottom: 30px;
}
.btn_vergaleria{
	color: #FFFFFF;
}
.btn_vergaleria:hover{
	color: #FFFFFF;
}
#noticias {
	/* background: url("../images/astaug/1.jpg") no-repeat scroll 0 0; */
	background: url("https://picsum.photos/1600/500?random=1") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
	height: 300px;
	width: 100%;
}

/* Secciones */
#transparencia {
	/* background: url("../images/astaug/1.jpg") no-repeat scroll 0 0; */
	background: url("https://picsum.photos/1600/500?random=2") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
	height: 300px;
	width: 100%;
}

#fraccion {
	/* background: url("../images/astaug/1.jpg") no-repeat scroll 0 0; */
	background: url("https://picsum.photos/1600/500?random=3") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
	height: 300px;
	width: 100%;
}

#tramites {
	/* background: url("../images/astaug/1.jpg") no-repeat scroll 0 0; */
	background: url("https://picsum.photos/1600/500?random=4") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
	height: 300px;
	width: 100%;
}

#contacto {
	/* background: url("../images/astaug/1.jpg") no-repeat scroll 0 0; */
	background: url("https://picsum.photos/1600/500?random=5") no-repeat scroll 0 0;
	background-size: cover;
	position: relative;
	height: 300px;
	width: 100%;
}

#bienvenida {
	background: url("../images/astaug/Mensaje_Bienvenida.jpeg") no-repeat scroll 0 0;
	/* background: url("https://picsum.photos/1600/500?random=5") no-repeat scroll 0 0;*/
	background-size: cover;
	position: relative;
	height: 700px;
	width: 100%;
}

ul#contact-info {
	list-style: none;
	margin: 0 0 0 0;
	padding: 0;
}

/* seccion Noticia */
/* seccion Bienvenida */
#pagina_bienvenida {
	padding: 80px 0 80px 0;
	background: #FAFAFA;
}

#pagina_bienvenida h2 {
	display: block;
	text-align: left;
	color: #3CAADA;
	padding-bottom: 30px;
}

#pagina_bienvenida p {
	font-size: 1.1em;
	text-align: justify;
	letter-spacing: 1px;
	padding: 5px;
}

#pagina_bienvenida h4 {
	display: block;
	font-size: 1.05em;
	padding: 5px;
}

p.negritas {
	font-weight: bold;
	display: block;
	padding: 5px;
}

.box_mapa {
	width: 100%;
	height: 450px;
	float: left;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
}
/* seccion mapa */
#map {
	width: 100%;
	height: 100%;
}
.marker{
	background-image: url('../images/astaug/marker_astaug.png');
	background-size: cover;
	width: 35px;
	height: 55px;
	cursor: pointer;
}
.box_datos_ubicacion {
	width: 46%;
	height: 410px;
	float: left;
	padding: 20px;
}



/* Responsive Styles for various devices */
@media (min-width: 1600px) {
	.container {
		width: 1200px;
	}
	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		/*height: 740px; */
	}

	.carousel-caption {
		left: 18%;
		right: 18%;
		top: 95px;
	}

	.about_content {
		margin-right: 50px;
	}
	.about_banner>img {
		width: 100%;
	}
}

@media (max-width: 1199px) {
	h1 {
		font-size: 50px;
		line-height: 55px;
	}

	h2 {
		font-size: 25px;
	}

	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		/*height: 550px;*/
	}

	.carousel-caption {
		left: 3%;
		right: 3%;
		top: 40px;
	}

	.about_banner>img {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.img_about {
		width: 100px;
	}

	.grid-item {
		height: 220px !important;
	}

	.grid-item--height2 {
		height: 440px !important;
	}

	.grid-item .portfolio_hover_area .fa {
		margin-top: 73px;
	}

	.grid-item--width2 .portfolio_hover_area .fa {
		margin-top: 183px;
	}

	#contact_form .second_heading {
		font-size: 30px;
	}

	#contact_form .form-inline .form-control {
		width: 202px;
	}

	#contact_form .form-inline textarea.form-control {
		width: 317px;
	}

	#contact_form .btn.submit_btn {
		width: 95px;
	}
	.about_banner>img {
		width: 100%;
	}
}

@media (max-width: 991px) {
	.list-inline.info>li {
		padding: 0 12px 0 0;
	}

	.list-inline.social_icon>li {
		padding: 0 2px;
	}

	nav.navbar.bootsnav .navbar-header {
		padding: 0;
	}

	nav.navbar.bootsnav .navbar-toggle {
		margin-top: 32px;
	}

	.attr-nav {
		right: 25px;
		top: 15px;
	}

	nav.navbar.bootsnav ul.nav>li>a {
		padding: 12px 0;
	}

	.container.about_bg {
		background-position: bottom 100px center;
	}

	.grid-item {
		height: 255px !important;
		width: 50%;
	}

	.grid-item--height2 {
		height: 500px !important;
		width: 100%;
	}

	.grid-item .portfolio_hover_area .fa {
		margin-top: 90px;
	}

	.grid-item--width2 .portfolio_hover_area .fa {
		margin-top: 217px;
	}

	#contact_form {
		text-align: center;
	}

	#contact_form form.form-inline {
		margin: 0 -8px;
		padding-right: 15px;
	}

	#contact_form .form-inline .form-control {
		width: 349px;
	}

	#contact_form .form-inline textarea.form-control {
		width: 538px;
	}

	#contact_form .btn.submit_btn {
		width: 168px;
	}
	.about_banner>img {
		width: 100%;
	}
	.estilo_box_facebook{
		background: red;
		width: auto;
		height: auto;
	  background: red;
		padding: 10px;
	}
}
@media (max-width: 950px) {
	.carousel-caption h1.second_heading {
		font-size: 30px;
		line-height: 25px;
		margin-bottom: 15px;

	}
	.carousel-caption>h1 {
		font-size: 30px;
		margin-bottom: 5px;
	}
	.carousel-caption>h3 {
		font-size: 30px;
		margin-bottom: 0px;
	}

	.carousel-caption>p {
		font-size: 30px;
		}

	.btn.know_btn {
		font-size: 15px;
		padding: 8px 14px;
	}
	.about_banner>img {
		width: 100%;
	}

}

@media (max-width: 767px) {
	h1 {
		font-size: 30px;
		line-height: 30px;
		margin-top: 10px;
	}
	.carousel-caption {
		left: 3%;
		right: 3%;
		top: 40px;
	}

	.list-inline.info {
		width: 60%;
	}

	.list-inline.social_icon {
		width: 40%;
		text-align: right;
	}

	nav.navbar.bootsnav .navbar-toggle {
		margin-left: 15px;
	}

	.carousel-caption {
		top: 0px;
	}

	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		/*height: 450px;*/
	}

	.carousel-caption>h3 {
		font-size: 26px;
		margin-bottom: 0px;
	}

	.carousel-caption>p {
		font-size: 18px;
		line-height: 22px;
		margin-bottom: 0px;
	}
	.btn.know_btn {
		font-size: 10px;
		padding: 8px 14px;
	}

	.carousel-caption .btn.know_btn {
		margin-top: 29px;
	}

	.carousel-caption .btn.know_btn:last-child {
		margin-left: 30px;
	}

	.about_content>h2 {
		font-size: 26px;
		margin-top: 70px;
	}

	.about_content>h3 {
		font-size: 26px;
	}

	.service_item .btn.know_btn {
		margin-bottom: 80px;
	}

	#contact_form h2 {
		margin-top: 10px;
	}

	#contact_form .second_heading {
		margin: 8px 0 20px;
	}

	#contact_form form.form-inline {
		margin: 0;
	}

	#contact_form .form-inline .form-control, #contact_form .form-inline textarea.form-control {
		margin: 0;
		width: 100%;
	}

	#contact_form .btn.submit_btn {
		float: left;
		margin: 0;
		width: 145px;
		}
		.about_banner>img {
			width: 100%;
		}
}
@media (max-width: 550px) {
	.carousel-caption h1.second_heading {
		font-size: 17px;
		line-height: 15px;
		margin-bottom: 15px;

	}
	.carousel-caption>h1 {
		font-size: 17px;
		margin-bottom: 5px;
	}
	.carousel-caption>h3 {
		font-size: 17px;
		margin-bottom: 0px;
	}

	.carousel-caption>p {
		font-size: 17px;
		}

	.btn.know_btn {
		font-size: 10px;
		padding: 8px 14px;
	}
	.about_banner>img {
		width: 100%;
	}

}
@media (max-width: 479px) {
	h1 {
		font-size: 30px;
		line-height: 30px;
	}

	h3 {
		font-size: 17px;
	}

	.list-inline.info {
		margin-bottom: 10px;
		text-align: center;
		width: 100%;
	}

	.list-inline.info>li {
		padding: 0 8px;
	}

	.list-inline.social_icon {
		text-align: center;
		width: 100%;
		padding: 0 8px;
	}

	.carousel-inner>.item>a>img, .carousel-inner>.item>img {
		/*height: 420px;*/
	}

	.carousel-caption {
		top: 1px;
	}

	.carousel-caption h1.second_heading {
		font-size: 16px;
		line-height: 15px;
		margin-bottom: 15px;

	}
	.carousel-caption>h1 {
		font-size: 16px;
		margin-bottom: 5px;
	}
	.carousel-caption>h3 {
		font-size: 16px;
		margin-bottom: 0px;
	}

	.carousel-caption>p {
		font-size: 16px;
		}

	.btn.know_btn {
		font-size: 10px;
		padding: 8px 14px;
	}

	.carousel-caption .btn.know_btn {
		margin-top: 10px;
	}

	.carousel-caption .btn.know_btn:last-child {
		margin-left: 10px;
	}

	.about_content>h3 {
		font-size: 24px;
	}

	.about_banner>img {
		width: 100%;
	}

	#filters>button {
		font-size: 14px;
	}

	.grid-item {
		width: 100%;
	}

	.grid-item--height2 {
		height: 255px !important;
	}

	.grid-item--width2 .portfolio_hover_area .fa {
		margin-top: 90px;
	}

	.list-inline.footer_social_icon>li {
		padding: 8px 3px;
	}
}
@media (max-width: 400px) {
  .btn.know_btn {
		display: none;
	}
	.about_banner>img {
		width: 100%;
	}
}
